<div class="card-block">
    <div class="card-header">
        <h3>This is Example of @ViewChild Using Directive</h3>
    </div>
    <div class="card-body">
        Colour Example
<h2 appChangecolor>Change My Color</h2>
    </div>
    <div class="card-footer">
        Change Color :
        <input type="radio" name="colorgrp" (click)="changeColor('green')">Green
        <input type="radio" name="colorgrp" (click)="changeColor('blue')">Blue
        <input type="radio" name="colorgrp" (click)="changeColor('cyan')">Cyan
        <input type="radio" name="colorgrp" (click)="changeColor('purple')">Purple
    </div>
</div>







